body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}
#addBtn {
  background-color: #28a745;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2px;
}

#addBtn:hover {
  background-color: #218838;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}